<!--<div class="container">
   
    <h2>Profile Page</h2>
    <button mat-raised-button color="warn" ><a routerLink="" >back</a></button>
   
    <mat-card class="example-card">
       <label for="name">Name :</label>
       <input type="text" placeholder="name" id= "name" name= "name" [(ngModel)]= "testo"  />
       <label for="surname">Surname :</label>
       <input type="text" placeholder="surname" id="surname" name= "surname" [(ngModel)]= "testo2"/>
       <label for="email">E-mail :</label>
       <input type="text" placeholder="email" id="email" name= "email" [(ngModel)]= "testo3"/>
       <label for="codicefiscale">Codicefiscale :</label>
       <input type="text" placeholder="Codicefiscale" id="codicefiscale" name= "codicefiscale" [(ngModel)]= "testo4" />
       <div class="example-button-row">
           <button mat-raised-button color="primary" [disabled]= "test()" (click)=save()>Salva dati</button>  
         </div>
     </mat-card>   
   
   </div>-->
   <body>
   <div class="container">
   <div>  

    <h2>Student Form</h2>  
    <table style="width:100%; font-size: 20px;">  
        <tr>  
            <td>Student Name</td>  
            <td><input type="text" [(ngModel)]="_model.name" /></td>  
        </tr>  
        <tr>  
            <td>Age</td>  
            <td><input type="number" [(ngModel)]="_model.age" /></td>  
        </tr>  
        <tr>  
            <td>City</td>  
            <td><input type="text" [(ngModel)]="_model.city" /></td>  
        </tr>  
        <tr>  
            <td>Student DOB</td>  
            <td><input type="date" [(ngModel)]="_model.dob" /></td>  
        </tr>  
        <tr>  
            <td></td>  
            <td>  
                <input type="button" value="Submit" (click)="submit()" />     
                <input type="button" value="Reset" (click)="reset()" />  
            </td>  
        </tr>  
    </table>  
 <div class="h3">
    <h3>Student Details</h3> 
 </div> 
       <div class="table2">
                <table border="1px" >  
                    <thead>  
                        <tr >  
                            <th style="width:40%; ">  
                                <span>Student's Name</span>  
                            </th>  
                            <th style="width:15%;">  
                                <span>Age</span>  
                            </th>  
                            <th style="width:20%;">  
                                <span>City</span>  
                            </th>  
                            <th style="width:25%;">  
                                <span>Date of Birth</span>  
                            </th>  
                        </tr>  
                    </thead>  
                    <tbody >  
                        <tr *ngFor="let item of _source; let i=index" >  
                           <td ><span>{{item.name}}</span></td>  
                            <td ><span>{{item.age}}</span></td>  
                            <td ><span>{{item.city}}</span></td>  
                            <td ><span>{{item.dob}}</span></td>  
                        </tr>  
                    </tbody>  
                </table>  
                </div>
            </div>  
      </div>
    </body>
