body{
    /*background-color: rgb(152, 247, 247);*/
    background-color: rgba(160, 175, 240, 0.9);
   
   }
.example-spacer {
    flex: 1 1 auto;
  }
  .btn2{
    margin:5px;
  }
  .btn1{
    margin-top:50px;
    margin-left: 10px;
    margin-right: 10px;
    width:120px;
  }
  .example-sidenav{
    background-color: rgba(125, 148, 250, 0.9);
  }