<div class="storage">
    <h1 style="margin-left: 20%">Local session storage</h1>
<div style="margin-left: 30%">
    <button mat-button mat-raised-button color="primary" (click)= "sessionStorageSetItem()" >Load Session</button>
</div><br>
<div style="margin-left: 30%">
    <button mat-button mat-raised-button color="primary" (click)= "sessionStorageGetItem()" >get dati Session</button>
    <br><br><button mat-button mat-raised-button color="primary" (click)= "localStorageSetItem()" >Load local</button>
    <br><br><button mat-button mat-raised-button color="primary" (click)= "localStorageGetItem()" >get dati Local</button>
<br>
</div>
</div>